
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');
$victoryNotif: "Changa One", sans-serif;
$background-color:#32133e ;
$text-color: #250e2e ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-items: center;
  grid-template-areas:
    "bigX gameBlock bigO";
  background-color: $background-color;
  height: auto;
  width: 100vw;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 8rem);
  grid-gap: 0;
}

.bigX, .bigO {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18rem;
  color: $text-color;
}

.bigX {
  grid-area: bigX;
}

.bigO {
  grid-area: bigO;
}

.gameBlock, .gameBlock h2{
  grid-area: gameBlock;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $text-color;

  gap: 1rem;
}

.gameBlock h1{
  color:white;
}

.gameBlock h2{
    position:absolute;
    width:0%;
    padding:0.5rem;
    background-image:  
     radial-gradient(circle, 

     rgb(254, 145, 16) 70%,
     rgba(254, 145, 16, 0.7), 
     rgba(254, 145, 16, 0.3),
     rgba(254, 145, 16, 0)90%,
      rgba(254, 145, 16, 0)100%
     );
    border-radius:30% 30% 30% 30% / 50% 50% 50% 50%;

    font-family: $victoryNotif;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 200;
    color:rgb(243, 238, 229);
    text-align: center;
    white-space: nowrap; 

    overflow: hidden;
    z-index: 1;
}

.animate-victory {
  animation: victoryNotif 0.5s ease-in-out forwards;
}

@keyframes victoryNotif {
  0% {
    width: 0%;
    height: 0%;
  }
  20% {
    background-image: unset;
    background-color: white;
    color:black;
    width: 130%;
    height: unset;
  }

  30%{
    background-image: unset;
    background-color: rgb(25, 174, 17);
    color:rgb(255, 255, 255);
    width: 150%;
    height: unset;
  }

  35%{
    background-color:unset;
    background-color: rgb(34, 123, 207);
    color: rgb(20, 129, 14);
    width: 150%;
    height: unset;
  }
  40% {
    background-image: unset;
    background-color: white;
    color:black;
    width: 150%;
    height: unset;
  }
  100% {
    width: 150%;
    height: unset;
  }
}

app-square {
  position: relative;
  height: 8rem;
}
button {
  font-size: 1rem;
  color: #fafafa;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background: #252525;
  cursor: pointer;
  margin: 1rem 0;

  &:active {
    box-shadow: none;
    transform: translate(3px, 3px);
  }
}

