<body>
<div class = "bigX" >X</div>
    <div class = "gameBlock">
        <h1>Player {{ player }}'s Turn! </h1>
        <h2 *ngIf="winner" [ngClass]="{ 'animate-victory': winner }" >
            PLAYER {{ winner }} WINS!!
        </h2>

        <main>
            <app-square 
                *ngFor="let val of squares; let i = index" 
                [value]="val"
                (click)="makeMove(i)"> 
            </app-square>
        </main>

        <button nbButton outline status="danger" (click)="newGame()">Start new Game</button>
    </div>

<div class = "bigO">O</div>
</body>