html{
  scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0; 
    border: 0;
}

@import url(https://db.onlinewebfonts.com/c/e3d5ec4c7e5f3041c277d5cf3d518c71?family=Bodoni+MT+Condensed);
@import url('https://fonts.cdnfonts.com/css/tbj-malta-mini-edition');
                

@font-face {
  font-family: "Bodoni MT Condensed";
  src: url("https://db.onlinewebfonts.com/t/e3d5ec4c7e5f3041c277d5cf3d518c71.eot");
  src: url("https://db.onlinewebfonts.com/t/e3d5ec4c7e5f3041c277d5cf3d518c71.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/e3d5ec4c7e5f3041c277d5cf3d518c71.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/e3d5ec4c7e5f3041c277d5cf3d518c71.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/e3d5ec4c7e5f3041c277d5cf3d518c71.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/e3d5ec4c7e5f3041c277d5cf3d518c71.svg#Bodoni MT Condensed")format("svg");

  font-family: "ShockaBold";
  src:url(font/ShockaSerif-Bold.otf);
  
  font-family: "TBJMaltaMini";
  src: url(font/TBJMaltaMiniEdition-Light.ttf);

  font-family: "BookmanOldStyle";
  src: url(font/Bookman-Old-Style-Regular.ttf);
}

@font-face { font-family: "PoiretOne";
  src:url(font/PoiretOne-Regular.ttf);
}

body{
/*effect acquired from https://codepen.io/edmundojr/pen/xOYJGw*/
--dot-bg: rgb(234, 234, 234);
--dot-color: rgb(119, 119, 125);
--dot-size: 1px;
--dot-space: 22px;
background:
	linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
	linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
	var(--dot-color);
} 

.navContainer{
    position:relative;
    width: 100%;
    background-image:url(img/work-with-us.webp);
    background-position: center;
    background-size: cover;
    animation: change 30s infinite ease-in-out;
}
@keyframes change {
    0%, 70% {
      background-image: url("img/white-living-room.jpg");
    }
    10%, 60% {
      background-image: url("img/real-estate-photos (4).jpg");
    }
    20%, 80% {
      background-image: url("img/real-estate-photos (1).jpg"); 
    }
    30%, 90% {
      background-image: url("img/real-estate-photos (2).jpg");
    }
    40% {
      background-image: url("img/real-estate-photos (3).jpg");
    }
    50%, 100% {
      background-image: url("img/work-with-us.webp");
    }
  }
.blackGradient{
    position:relative;
    height: 540px;
    background: linear-gradient(90deg, black, transparent);
    
}
.blackGradient::before{
    /* effect gained from https://css-tricks.com/making-static-noise-from-a-weird-css-gradient-bug/ */
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(#0000 1.000045%, #424242 1.0005%);
    mix-blend-mode: overlay;
}
.undrline {
  width: 20vw;
  height:3px;
  border-bottom: 1px solid white ;
}
.undrline:nth-child(1){
  width: 3vw;
}
.undrline:nth-child(2){
  width: 10vw;
}

.navbar{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.optionscontainer{
  display: flex;
  position:relative;
  top: 3rem;
  align-items: center;
  justify-content: center;
}
.elegantbrace{
  display:flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  min-width: 460px;
  max-height: 120px;
  pointer-events: none;
  user-select: none;
}
.leftcurlybrace,.rightcurlybrace{
  height:100px;
}
.leftcurlybrace{
  margin-right: 300px;
}
.navOptions{
    display:flex;
    position: relative;
    min-height:84px;

    max-width: 320px;
    overflow-x: auto; 
    scroll-behavior: smooth;
    transition: position 0.3 ease;
}
.navOptions .option {
  opacity: 0.5;
  transform: scale(1);
  height: 80px;
  transition: opacity 0.3s ease;
}
.mainlogo{
    height :30px;  
    padding-top: 40px;
    user-select: none;
    transition:opacity 1s ease-in-out;
}

h1{
    font-family: "Playfair Display", serif;
}
p{
    font-family:  "Noticia Text", serif;
}
.maintitlecard {
  display: block;
  font-size: 9vw;
}

.titlecard {
    display: none;
    font-size: 9vw;
}

.longtitlecard {
    display: none;
    font-size: 8vw;
}

.maintitlecard,.titlecard,.longtitlecard {
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 20;
    max-height: 200px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 20px;
    animation: titlecardAnim 0.6s ease-out;
}

@keyframes titlecardAnim{
  0%{
  transform: translateY(60%);
  opacity: 0%;
  scale: 90%;
  }
  60%{
  opacity: 50%;
  }
  100%{
  transform: translateY(0%);
  opacity: 100%;
  scale: 100%;
  }
}

.option{
    background-color: none;
    min-width: 160px;
    padding: 1px;
    margin-left: -10px;
    max-height:53px;


    font-family: "Karla", sans-serif;
    user-select: none;
    font-weight: 700;
    text-size-adjust: 1.2vw;
    color: white;

    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: white;

    align-content: center;
    text-align: center;
}
.navOptions::-webkit-scrollbar {
    width: 10px;
    border-bottom: 1px solid white;
  }
  ::-webkit-scrollbar-thumb {
    background: white;
    border: 5px solid transparent;
    border-radius: 30px;
    background-clip: content-box;
  }

/* search bar */
.searchbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:url(img/textures/searchBg.png);
  min-height: 4rem;
  padding:0 7% 0 3%;

  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
  z-index: 10;
}
 .navIcon1{
  height:1.4rem;
  border-right: 1px dashed white;
}
.navIcon2{
  height:1.5rem;
}
.navIcon1, .navIcon2{
  padding:0.25rem 0.5rem 0.25rem 0.5rem;
}
.search-booking{
  display: flex;
  justify-content: center;
  align-items: center;

  color: #acacac;
}

#jhserenoLogo {
  height:1.5rem;
  width:10rem;
  background-image: url(img/jhsereno-light.webp);
  background-size: 10rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out; 
}

.searchbar form{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.searchbar input{
  color:#cbcbcb;
  outline: none;
  height:2rem;
  min-width:5rem;
  max-width:80%;
  padding:0 0.5rem 0 0.5rem;
 
  background-color: #3e3e3e;

  transition: 0.5s ease-in-out;
}
.searchButton, .bookingButton{
  background-color: transparent;
}


.searchInput {
  width: 0; 
  opacity: 0; 
  transition: width 0.3s ease, opacity 0.3s ease;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchInput.visible {
  width: 200px; 
  opacity: 1;
}

.searchInput.active {
  display: inline-block;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
}



/*Services Content Section*/
.servicesContent{
 display: flex;
 flex-direction: column;
 justify-content: center;
 position:relative;
 gap: 10rem;
}

.servicesContent > *{
  position: relative;
  display: flex;
  flex-wrap: wrap;
 
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.x-line{
  position:absolute;
  top: 2%;
  color:#727272;
  width: 100%;
  border-bottom: #727272 0.125rem dashed;
  z-index: -2;
}

.y-line{
  position:absolute;
  right: 25%;
  height:100%;
  border-left: 0.125rem dashed #060606;
  z-index: -2;
}

.backtoTop{
  position:fixed;
  bottom:-4rem;
  right: 5% ;
  height: 3rem;
  width: 3rem;
  background:#525252;
  box-shadow: 0.125rem 0.125rem 0.5rem #424242;
  opacity: 0;
  cursor: pointer;
  transition:opacity 1s ease-in-out;
  z-index: 5;
}

.backtoTop img{
  height:2rem;
}

.sectionFrame{
  position:absolute;
  top: -10rem;
  left:-6rem;
  height:28rem;
  z-index:-2;
 }



/*Section 1*/
.section1{
  padding: 10rem 5% 5rem 5%;
  gap: 3rem;
}

.section1 .sectionFrame{
  top:-14rem;
  left:-8rem;
  height:37rem;
}
.item-1{
  position: relative;
 }

.item-1 p{
  height: 100px;
  width: 20rem;
  padding: 1.25rem;
  background-color:#2e2b23;
  border-left:#957f58 0.25rem solid ;
  border-right:#957f58  0.25rem solid ;
  box-shadow: -0.25rem 0.5rem 1.25rem  #575656;

  font-size: 2rem;
  color: #968972;
  text-align: center;
}
.qualities, .gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  max-width: 50rem;
}

.qualities{ 
  position:relative;
  background-image: url(img/textures/darkgold.png);
  padding:2rem;
  border-left: 0.20rem solid #8a764e;
  border-right: 0.20rem solid #8a764e;
  border-bottom: 1rem #777777 solid;
  gap:1rem;
}
 .qualities > *{
  position: relative;
  min-width:20rem;
 }  

 .qualities .container{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center; 
  height:15rem;
  padding: 0.5rem;
  background-color: #fffff9;  
 }

 .qualities img{
   width: 9rem;
 }

 .qualities h1{
  font-family: "PoiretOne";
  font-size: 1.4rem;
  color: #79631b;
  text-align: center;
 }

 .container p{
  width: 14rem;
  padding: 0rem 0rem 0rem 1rem;

  text-align: center;
  font-size: 1rem;
  color: #51390a;
 }

 .indexMark{
  text-align: left;

  padding: 0.25rem 1rem 0.5rem 1rem;
  width:30%;
  background-color: #233d3c;
  color:#aa9371;
 }

 .qualities .indexMark{
  padding: 0.25rem 1rem 0.25rem 1rem;
  font-size:0.75rem;
 }

 .qualities > div:nth-child(2) .indexMark, 
 .qualities > div:nth-child(3) .indexMark {
  background-color: #871010; 
}




/*  */
/*  */
/*  */
/*  */
/*  */
/*section2*/
 .section2{
  padding:5rem 2rem 0 2rem;
  gap:14rem;
 }

 .decorGuidance, .intentionalLayout{
  position: relative;
  display: flex;
  flex-wrap: wrap;
 
  justify-content: center;
  align-items: center;
 }

 .decorGuidance{
  flex-wrap: wrap-reverse;
 }

 .titleDivision{
  position: relative;
  display:flex; 
  height:40rem;
  width:30rem;
  justify-content: center;
 }
 .titleDivision h1{
  position:absolute;

  display:flex;
  justify-content: center;
  bottom: 5rem;
  height: 3rem;
  background-color:#2e2b23;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  
  border-left:#957f58 0.25rem solid ;
  border-right:#957f58  0.25rem solid ;

  font-family: "Noticia Text", serif;
  font-weight: 100;
  text-align: center;
  font-size: 2rem;
  color: #968972;
  gap: 1rem;

 }
 .decorGuidance .sectionFrame{
  height:45rem;
  top:-1rem;
  left:-2rem;
 }

 .decorGuidance h1::before{
  content:'decor guidance';
  font-size: 0.60rem;
  color:#aa9371;
  text-align: left;
  padding:0.5rem 0rem 0 1rem;
  height: 110%;
  width: 95%;
  background-color: #680e0e;
  position: absolute;
  bottom:1.5rem;
  left:-1.5rem;
  box-shadow: 0.125rem 0.5rem 1.25rem  #575656;
  z-index: -1;
 }

 .decorGuidance h1:after{
  content:'';
  height: 100%;
  width: 100%;
  background-color: #233d3c;
  position: absolute;
  bottom:-1.5rem;
  right:-1rem;
  box-shadow: 0.125rem 0.5rem 1.25rem  rgb(87, 86, 86);
  z-index: -1;
 }

 .intentionalLayout .titleDivision{
  margin-right:2rem;
  height: 10rem;
 }
 .intentionalLayout .sectionFrame{
  top: -15rem;
  height:44rem;
  left :unset;
 }
 .intentionalLayout h1{
  justify-content: center;
  top:0;
 }
 .intentionalLayout h1::before{
  content:'intentional layout';
  font-size: 0.60rem;
  color:#aa9371;
  text-align: right;
  padding:0.5rem 1rem 0 0rem;
  height: 110%;
  width: 95%;
  background-color:#233d3c;
  position: absolute;
  bottom:1rem;
  right:-1rem;
  z-index: -1;
 }

 .intentionalLayout h1:after{
  content:'';
  height: 100%;
  width: 100%;
  background-color: #680e0e;
  position: absolute;
  box-shadow: 0.125rem 0.5rem 1.25rem  rgb(87, 86, 86);
  bottom:-1.5rem;
  left:-1rem;
  z-index: -1;
 }

 .gallery{
  background-image: url(img/textures/darkgold.png);
  border-left:#957f58 0.25rem solid ;
  border-right:#957f58  0.25rem solid ;
  padding: 3rem 1.5rem 3rem 1.5rem;

  gap:1rem;
 } 

 .gallery > *{
  position: relative;
  height: 13rem;
 }

 .gallery img{
  height:12rem;
  width:100%;
 }
 .gallery .indexMark{
  width:45%;
 }

 .textcard{
  border: 0.25rem #8a764e solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 10rem;
  width:100%;
  background-color: #fffff9;
  background-image: url(img/vector/textcardBG.png);
  background-size: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
 }

.textcard p{
  text-align: center;
  width:10.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #5f481a;
}

.textcard small{
  position: absolute;
  bottom: 1rem;
  color:#443314;
  font-size: 0.8rem;
  font-weight: 50;
  opacity: 0.5;
}


/*  */
/*  */
/*  */
/*  */
/*Section 3*/
 .section3{
  padding: 20rem 0rem 5rem 0rem;
  width:100%;
  gap: 15rem;
 }

 .section3 > *,.steps,
 .stepsContainer, .steps > *{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
 .section3 > *{
  gap: 1rem;
 }


.theProcess{
  position: relative;

  background-image: url(img/textures/darkgold.png);
  background-repeat:no-repeat;

  border-top: 1rem #777777 solid;
  height:35rem;
  width:23rem;

  color: #aa9371;
  font-family: "BookmanOldStyle";
  text-align: center;

  z-index: auto;
}

.theProcessImage{
  position: relative;
  margin:3rem 0rem 1.5rem 6rem;
  height:22rem;
  width:15em;

  background-color: #094c4b;
}

.theProcessImage::before{
  content: '';
  position: absolute;
  top:-1.5rem;
  left: -1rem;
  height: 100%;
  width: 100%;
 
  background-image: url(img/image-026.webp);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -10rem 0rem;
}

.theProcessImage:nth-child(1){
  margin: 3rem 0rem 1.5rem 1rem;
  background-color: #871010;
}

.theProcessImage:nth-child(1)::before{
  left:unset;
  right: -1rem;
  background-image: url(img/image-004.png);
}

.theProcessImage h3{
  font-size: 1.75rem; 
  font-weight:100; 
}
.stepsContainer{
  padding: 2rem 1.5rem 2rem 1.5rem;
  background-image:url(img/textures/darkgold.png);
  
  text-align: center;
  min-width: 20rem;
  max-width: 55%;
  gap:1rem ;
}
.steps{
  margin-bottom: 1rem;
  width: 24rem;
}

.steps h1{
  position:absolute;
  top:-1rem;
  left:0;
  justify-items: center;
  align-content: center;
  font-size: 1rem;
  height:2rem;
  width:2rem;
  padding:0 0 0.25rem 0;

  font-family: "Noticia Text", serif;
  color:#d3b486;
  font-weight: 100;
  z-index: 1;
}
.steps:nth-of-type(even) h1 {
  background-color: #871010;
}

.steps:nth-of-type(odd) h1 {
  background-color: #094c4b;
}

.steps p{
  padding: 0 0.5rem 0 0.5rem;
  color: #79631b;
  
  background-color: #fffff9;
  background-image: url(img/vector/stepsTexture.png);
  background-size:110% 200%;
  background-position: right -0.5rem;

  font-size: 1.125rem;
  height:8rem;
  width:90%;
}








 /*Section 4*/
 .section4{
  gap: 1rem;
  padding: 5rem 10% 5rem 10%;
 }

 .section4 > *{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:1rem;
 }

 .section4Row1 > *, .section4Row2 > *{
   background-color: #fffff9;
  color: #7C6853;
  min-width:25rem;
  max-width: 40%;
 }

 .section4 p{
  padding:1rem;
  font-size: 0.95rem;
  color: #7b6443;
  text-align: justify;
 }

 .section4 h1{
  text-align: center;
}
.section4Text{
  border: 0.125rem solid #7C6853;
  height: 27rem;

  min-width: 24rem;
  max-width:28rem;
}

.coverMessage1, .coverMessage2{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width:100%;
  background-image: url(img/textures/darkgold.png);
  height: 100%;
}

.coverMessage1 h1, .coverMessage2 h1{
  background-color: #233d3c;
  width:85%;
  padding:1rem;
  border: 2px solid #957f58;
  color: #dabf97;
  z-index: 4;
}

.coverMessage1 img, .coverMessage2 img{
  position:absolute;
  height:20rem;
}
.showMoreText{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #aa9371;
  padding: 0 0 1rem 0;
  margin: 1rem;
  width:4rem;

  color:#fffff9;
  z-index: 4;
}

@keyframes showMoreTextOpen{
  from {
  }

  to {
    color:#aa9371;
    height:unset;
    margin-top: 1rem;
    background-color: #fffff9;
    background-blend-mode: lighten;
    
  }
}

@keyframes showMoreTextClose{
  from {
    height:unset;
    background-color: #fffff9;
    background-blend-mode: lighten;
  }

  to {
    height:100%;
  }
}

@keyframes showMoreTextOpenButton{
  from{
  }
  to {
  padding: 0 0 0 0;
  margin: unset;
  width:4rem;
  }

}
@keyframes showMoreTextCloseButton{
  from{
    padding: 0 0 0 0;
    margin: unset;
    width:4rem;
  }
  to {
    background-color: #aa9371;
  padding: 0 0 1rem 0;
  margin: 1rem;
  width:4rem;
  }
}

@keyframes highlighTextBG{
  from{

  }

  to{
    right:0;
    height:15rem;
  }

}



/* Section 5 */
.section5{
  flex-wrap: wrap;
}

.commsTablet{
display: grid;
min-width:25rem;
max-width: 50%;
}

.commsTablet img{
  width: 100%;
  height: auto;
}

.section5 > *:nth-child(3){
  min-width: 25rem;
  max-width: 70%;
  background-color: #fffff9;
}

.section5text1{
background-color: #233d3c;
text-align:justify;
padding:2rem;
color:white;
width:20rem;
}



/* Section 6*/

.section6{
  flex-wrap: wrap;
}
 .section6 > *{
  min-width:23rem;
  max-width: 23rem;
  color: #83672f;
 }
 
/**/
@media only screen and (max-width: 778px){ 


  .leftcurlybrace,.rightcurlybrace{
    height:66px;
    }
    .leftcurlybrace{
    margin-right: 200px;
    }
    .navOptions{
      display:flex;
      position: relative;
      min-height:84px;
  
      max-width: 12.5rem;
      overflow-x: auto; 
      scroll-behavior: smooth;
      transition: position 0.3 ease;
  }
  .option{
    min-width:110px;
    font-size: 14px;
    margin-left: -5px;
  }
  /*  */
  #jhserenoLogo{
    background-image: url(img/vector/jhIcon.png);
    background-size: 2rem 2rem ;
    width:5rem;
  }
  /*  */
  .section1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .section1 .sectionFrame{
    top:-7rem;
    left:unset;
    right:unset;
    bottom:unset;
    height:25rem;
  }
  .qualities{
    display: flex;
    flex-direction: column;
    height: auto;
    }
    .qualities > div:nth-child(even) .indexMark{
     background-color: #871010; 
   }
    
   .qualities > div:nth-child(3) .indexMark {
    background-color: #233d3c; 
  }
  

  /**/
  .section2{

  }
  .gallery{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  }

  @media only screen and (max-width: 1275px){
  
  
  }

