html{
  scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0; 
    border: 0;
}

@font-face {
  font-family: "ShockaBold";
  src:url(font/ShockaSerif-Bold.otf);
  
  font-family: "TBJMaltaMini";
  src: url(font/TBJMaltaMiniEdition-Light.ttf);

  font-family: "BookmanOldStyle";
  src: url(font/Bookman-Old-Style-Regular.ttf);
}

@font-face { font-family: "PoiretOne";
  src:url(font/PoiretOne-Regular.ttf);
}

body{
  background-color:  #eaeaea;
} 

.navContainer{
    position:relative;
    width: 100%;
    background-image:url(img/work-with-us.webp);
    background-position: center;
    background-size: cover;
    animation: change 30s infinite ease-in-out;
}
@keyframes change {
    0%, 70% {
      background-image: url("img/white-living-room.jpg");
    }
    10%, 60% {
      background-image: url("img/real-estate-photos (4).jpg");
    }
    20%, 80% {
      background-image: url("img/real-estate-photos (1).jpg"); 
    }
    30%, 90% {
      background-image: url("img/real-estate-photos (2).jpg");
    }
    40% {
      background-image: url("img/real-estate-photos (3).jpg");
    }
    50%, 100% {
      background-image: url("img/work-with-us.webp");
    }
  }
.blackGradient{
    position:relative;
    height: 540px;
    background: linear-gradient(90deg, black, transparent);
    
}
.blackGradient::before{
    /* effect gained from https://css-tricks.com/making-static-noise-from-a-weird-css-gradient-bug/ */
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(#0000 1.000045%, #424242 1.0005%);
    mix-blend-mode: overlay;
}
.undrline {
  width: 20vw;
  height:3px;
  border-bottom: 1px solid white ;
}
.undrline:nth-child(1){
  width: 3vw;
}
.undrline:nth-child(2){
  width: 10vw;
}

.navbar{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.optionscontainer{
  display: flex;
  position:relative;
  top: 3rem;
  align-items: center;
  justify-content: center;
}
.elegantbrace{
  display:flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  min-width: 460px;
  max-height: 120px;
  pointer-events: none;
  user-select: none;
}
.leftcurlybrace,.rightcurlybrace{
  height:100px;
}
.leftcurlybrace{
  margin-right: 300px;
}
.navOptions{
    display:flex;
    position: relative;
    min-height:84px;

    max-width: 320px;
    overflow-x: auto; 
    scroll-behavior: smooth;
    transition: position 0.3 ease;
}
.navOptions .option {
  opacity: 0.5;
  transform: scale(1);
  height: 80px;
  transition: opacity 0.3s ease;
}
.mainlogo{
    height :30px;  
    padding-top: 40px;
    user-select: none;
    transition:opacity 1s ease-in-out;
}

h1{
    font-family: "Playfair Display", serif;
}
p{
    font-family:  "Noticia Text", serif;
}
.maintitlecard {
  display: block;
  font-size: 9vw;
}

.titlecard {
    display: none;
    font-size: 9vw;
}

.longtitlecard {
    display: none;
    font-size: 8vw;
}

.maintitlecard,.titlecard,.longtitlecard {
    color: white;
    font-family: "Playfair Display", serif;
    font-weight: 20;
    max-height: 200px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 20px;
    animation: titlecardAnim 0.6s ease-out;
}

@keyframes titlecardAnim{
  0%{
  transform: translateY(60%);
  opacity: 0%;
  scale: 90%;
  }
  60%{
  opacity: 50%;
  }
  100%{
  transform: translateY(0%);
  opacity: 100%;
  scale: 100%;
  }
}

.option{
    background-color: none;
    min-width: 160px;
    padding: 1px;
    margin-left: -10px;
    max-height:53px;


    font-family: "Karla", sans-serif;
    user-select: none;
    font-weight: 700;
    text-size-adjust: 1.2vw;
    color: white;

    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: white;

    align-content: center;
    text-align: center;
}
.navOptions::-webkit-scrollbar {
    width: 10px;
    border-bottom: 1px solid white;
  }
  ::-webkit-scrollbar-thumb {
    background: white;
    border: 5px solid transparent;
    border-radius: 30px;
    background-clip: content-box;
  }

/* search bar */
.searchbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:url(img/textures/searchBg.png);
  min-height: 4rem;
  padding:0 7% 0 3%;

  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
  z-index: 10;
}
 .navIcon1{
  height:1.4rem;
  border-right: 1px dashed white;
}
.navIcon2{
  height:1.5rem;
}
.navIcon1, .navIcon2{
  padding:0.25rem 0.5rem 0.25rem 0.5rem;
}
.search-booking{
  display: flex;
  justify-content: center;
  align-items: center;

  color: #acacac;
}

#jhserenoLogo {
  height:1.5rem;
  width:10rem;
  background-image: url(img/jhsereno-light.webp);
  background-size: 10rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out; 
}

.fillerLines a{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: opacity 0.3s ease;
  gap: 0.5rem;
}
.searchbar form{
  display:flex;

  align-items: center;
  justify-content: center;
  gap: 0.0625rem;
}

.searchbar input{
  color:#cbcbcb;
  outline: none;
  height:2rem;
  min-width:5rem;
  max-width:80%;
  padding:0 0.5rem 0 0.5rem;
 
  background-color: #3e3e3e;

  transition: 0.5s ease-in-out;
}
.searchButton, .bookingButton{
  background-color: transparent;
  cursor: pointer;
}
.searchInput {
  width: 0; 
  opacity: 0; 
  transition: width 0.3s ease, opacity 0.3s ease;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.searchInput.visible {
  width: 200px; 
  opacity: 1;
}

.searchInput.active {
  display: inline-block;
}

.searchButton {
  background: none;
  border: none;
  cursor: pointer;
}

.bookingScreen-hidden{
  position:fixed;
  display: none;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
  background-color: rgba(0,0,0, 0.9);
  overflow: auto; 
  z-index:15;
  gap:1.5rem;
}

.bookAppointmentTitle{
  position: relative;
  display:flex;
  justify-content: center;
  padding: 1rem 1.5rem 1rem 1.5rem;

  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: 2rem;
  color: #cbb48b;
}
.contact-us-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 65%;
}
.contact-us-container > *, .contact-us-container .form-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height:100%;
  width:23rem;
  padding:1.5rem;
}
.bookingScreen-hidden .message-container> *, .bookingScreen-hidden .message-container{
  background-color: #3e3e3e;
  color:white;
}
.phone-container{
  height:unset;
  background-color: #1e1818;

  font-family:  "Karla", sans-serif;
  font-size: 1.25rem;
  text-align: center;
  color: #756241;

  gap:0.75rem;
}

.phone-container a {
  font-family:  "Karla", sans-serif;
  color:#756241;
  text-decoration: none;
}
.phone-container a:hover{
  text-decoration: underline;
}

.message-container h2{
  font-size: 2.5rem;
  font-weight: 100;
}
.message-container input{
  display: flex;
  background-color: transparent;
  border-bottom: 1px white solid;
  height:1.5rem;
  width:70%;
  padding:0.5rem;
  outline:none;
  color:#dedddd;
}

.message-container input:nth-of-type(5){
  border: 1px white solid;
}
.message-container .form-content{ 
 height:unset;
 padding:unset;
}

.message-container .lp-tcr-message{
  font-family: "Karla", sans-serif;
  font-size: 0.75rem;
}

.message-container .lp-tcr-message a{
  color:#dedddd;
}
.h-pot {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  line-height: 0;
  font-size: 0;
  position: absolute;
}
.exitButton{
position:absolute;
top:2rem;
right: 5%;

}
.exitButton button{
  position:relative;
  background-color: transparent;
  height:3rem;
  width:3rem;
  font-size: 8rem;
}

.forwardsSlantedLine, .backwardsSlantedLine{
  position:absolute;
  top:0.25rem;
  
  height:2.5rem;
  width:0.25rem;
}

.forwardsSlantedLine{
  background-color:white;
  transform: rotate(45deg);
  left:1.35rem;
}

.backwardsSlantedLine{
  background-color: white;
  transform: rotate(-45deg);
  right:1.35rem;
}






/*Services Content Section*/
.servicesContent{
 display: flex;
 flex-direction: column;
 justify-content: center;
 position:relative;
}

.servicesContent > *{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding:5rem 0 5rem 0;
  z-index: 2;
}

.x-line{
  position:absolute;
  top: 2%;
  color:#727272;
  width: 100%;
  border-bottom: #727272 0.125rem dashed;
  z-index: -2;
}

.y-line{
  position:absolute;
  right: 25%;
  height:100%;
  border-left: 0.125rem dashed #060606;
  z-index: -2;
}

.fixedPositionedButtons{
  position:fixed;
  display: flex;
  flex-direction: column;
  bottom:-12rem; 
  right:5%;
  padding:unset;
  gap:1.5rem;

  z-index: 10;
}

.fixedPositionedButtons > *{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#525252;
  box-shadow: 0.125rem 0.125rem 0.5rem #424242;
  height: 2rem;
  width: 2rem;

  padding:0.5rem;
  
  cursor: pointer;
  transition:opacity 0.6s ease-in;
  z-index: 5;
}

.mail{
  border-radius: 3rem;
  transition:opacity 0.4s ease-in;
} 

.phone{
  border-radius: 3rem;
  transition:opacity 0.2s ease-in;
} 

.backtoTop img{
  height:2rem;
}

.sectionFrame{
  position:absolute;
  top: -10rem;
  left:-6rem;
  height:28rem;
  z-index:-2;
 }



/*Section 1*/
.section1{
  padding: 2rem 5% 5rem 5%;
  gap: 3rem;
}

.section1 .sectionFrame{
  top:-14rem;
  left:-8rem;
  height:37rem;
}
.item-1{
  position: relative;
 }

.item-1 p{
  width: 22rem;
  padding: 1.25rem;
  background-color:#2e2b23;
  border-left:#957f58 0.25rem solid ;
  border-right:#957f58  0.25rem solid ;
  box-shadow: -0.25rem 0.5rem 1.25rem  #575656;

  font-size: 2rem;
  color: #968972;
  text-align: center;
}
.qualities, .gallery{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  max-width: 50rem;
}

.qualities{ 
  position:relative;
  background-image: url(img/textures/darkgold.png);
  padding:2rem;
  border-left: 0.20rem solid #8a764e;
  border-right: 0.20rem solid #8a764e;
  border-bottom: 1rem #777777 solid;
  gap:1rem;
}
 .qualities > *{
  position: relative;
  min-width:20rem;
 }  

 .qualities .container{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center; 
  height:15rem;
  padding: 0.5rem;
  background-color: #fffff9;  
 }

 .qualities img{
   width: 9rem;
 }

 .qualities h1{
  font-family: "PoiretOne";
  font-size: 1.4rem;
  color: #79631b;
  text-align: center;
 }

 .container p{
  width: 14rem;
  padding: 0rem 0rem 0rem 1rem;

  text-align: center;
  font-size: 1rem;
  color: #51390a;
 }

 .indexMark{
  text-align: left;

  padding: 0.25rem 1rem 0.5rem 1rem;
  width:30%;
  background-color: #233d3c;
  color:#aa9371;
 }

 .qualities .indexMark{
  padding: 0.25rem 1rem 0.25rem 1rem;
  font-size:0.75rem;
 }
 

/*  */
/*  */
/*  */
/*  */
/*  */
/*section2*/
 .section2{
  padding:5rem 2rem 0 2rem;
  gap:14rem;
 }

 .decorGuidance, .intentionalLayout{
  position: relative;
  display: flex;
  flex-wrap: wrap;
 
  justify-content: center;
  align-items: center;
 }

 .decorGuidance{
  flex-wrap: wrap-reverse;
 }

 .titleDivision{
  position: relative;
  display:flex; 
  height:40rem;
  width:30rem;
  justify-content: center;
 }
 .titleDivision h1{
  position:absolute;

  display:flex;
  justify-content: center;
  bottom: 5rem;
  height: 3rem;
  background-color:#2e2b23;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  
  border-left:#957f58 0.25rem solid ;
  border-right:#957f58  0.25rem solid ;

  font-family: "Noticia Text", serif;
  font-weight: 100;
  text-align: center;
  font-size: 2rem;
  color: #968972;
  gap: 1rem;

 }
 .decorGuidance .sectionFrame{
  height:45rem;
  top:-1rem;
  left:-2rem;
 }

 .decorGuidance h1::before{
  content:'decor guidance';
  font-size: 0.60rem;
  color:#aa9371;
  text-align: left;
  padding:0.5rem 0rem 0 1rem;
  height: 110%;
  width: 95%;
  background-color: #680e0e;
  position: absolute;
  bottom:1.5rem;
  left:-1.5rem;
  box-shadow: 0.125rem 0.5rem 1.25rem  #575656;
  z-index: -1;
 }

 .decorGuidance h1:after{
  content:'';
  height: 100%;
  width: 100%;
  background-color: #233d3c;
  position: absolute;
  bottom:-1.5rem;
  right:-1rem;
  box-shadow: 0.125rem 0.5rem 1.25rem  rgb(87, 86, 86);
  z-index: -1;
 }

 .intentionalLayout .titleDivision{
  margin-right:2rem;
  height: 10rem;
 }
 .intentionalLayout .sectionFrame{
  top: -15rem;
  height:44rem;
  left :unset;
 }
 .intentionalLayout h1{
  justify-content: center;
  top:0;
 }
 .intentionalLayout h1::before{
  content:'intentional layout';
  font-size: 0.60rem;
  color:#aa9371;
  text-align: right;
  padding:0.5rem 1rem 0 0rem;
  height: 110%;
  width: 95%;
  background-color:#233d3c;
  position: absolute;
  bottom:1rem;
  right:-1rem;
  z-index: -1;
 }

 .intentionalLayout h1:after{
  content:'';
  height: 100%;
  width: 100%;
  background-color: #680e0e;
  position: absolute;
  box-shadow: 0.125rem 0.5rem 1.25rem  rgb(87, 86, 86);
  bottom:-1.5rem;
  left:-1rem;
  z-index: -1;
 }

 .gallery{
  background-image: url(img/textures/darkgold.png);
  border-left:#957f58 0.25rem solid ;
  border-right:#957f58  0.25rem solid ;
  padding: 3rem 1.5rem 3rem 1.5rem;

  gap:1rem;
 } 

 .gallery > *{
  position: relative;
  height: 13rem;
 }

 .gallery img{
  height:12rem;
  width:100%;
 }

 .galleryIMGContainer:before{
  background-color:#999c93;
 }
 .gallery .indexMark{
  width:45%;
 }

 .textcard{
  border: 0.25rem #8a764e solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 10rem;
  width:100%;
  background-color: #fffff9;
  background-image: url(img/vector/textcardBG.png);
  background-size: 8rem;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 5;
 }

.textcard p{
  text-align: center;
  width:10.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #5f481a;
}

.textcard small{
  position: absolute;
  bottom: 1rem;
  color:#443314;
  font-size: 0.8rem;
  font-weight: 50;
  opacity: 0.5;
}


/*  */
/*  */
/*  */
/*  */
/*Section 3*/
 .section3{
  padding: 20rem 0rem 5rem 0rem;
  width:100%;
  gap: 15rem;
 }

 .section3 > *,.steps,
 .stepsContainer, .steps > *{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
 .section3 > *{
  gap: 1rem;
 }


.theProcess{
  position: relative;

  background-image: url(img/textures/darkgold.png);
  background-repeat:no-repeat;

  border-top: 1rem #777777 solid;
  height:35rem;
  width:23rem;

  
  color: #aa9371;
  font-family: "BookmanOldStyle";
  text-align: center;

  z-index: auto;
}

.theProcessImage{
  position: relative;
  margin:3rem 0rem 1.5rem 6rem;
  height:22rem;
  width:15em;

  background-color: #094c4b;
}

.theProcessImage::before{
  content: '';
  position: absolute;
  top:-1.5rem;
  left: -1rem;
  height: 100%;
  width: 100%;
 
  background-image: url(img/image-026.webp);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -10rem 0rem;
}

.theProcessImage:nth-child(1){
  margin: 3rem 0rem 1.5rem 1rem;
  background-color: #871010;
}

.theProcessImage:nth-child(1)::before{
  left:unset;
  right: -1rem;
  background-image: url(img/image-004.png);
}

.theProcessImage h3{
  font-size: 1.75rem; 
  font-weight:100; 
}
.stepsContainer{
  padding: 2rem 1.5rem 2rem 1.5rem;
  background-image:url(img/textures/darkgold.png);
  
  text-align: center;
  min-width: 20rem;
  max-width: 55%;
  gap:1rem ;
}
.steps{
  margin-bottom: 1rem;
  width: 24rem;
}

.steps h1{
  position:absolute;
  top:-1rem;
  left:0;
  justify-items: center;
  align-content: center;
  font-size: 1rem;
  height:2rem;
  width:2rem;
  padding:0 0 0.25rem 0;

  font-family: "Noticia Text", serif;
  color:#d3b486;
  font-weight: 100;
  z-index: 1;
}
.steps:nth-of-type(even) h1 {
  background-color: #871010;
}

.steps:nth-of-type(odd) h1 {
  background-color: #094c4b;
}

.steps p{
  padding: 0 0.5rem 0 0.5rem;
  color: #79631b;
  
  background-color: #fffff9;
  background-image: url(img/vector/stepsTexture.png);
  background-size:110% 200%;
  background-position: right -0.5rem;

  font-size: 1.125rem;
  height:8rem;
  width:90%;
}








 /*Section 4*/
 .section4{
  flex-direction: column;
  gap: 4rem;
  padding: 8rem 0 8rem 0; 
 }

 .section4 .undrline{
  height: 0.125rem;
  background-color: #5c5a58;
}
.posters, .posterContainer, .posterText, .undrlineContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 }
 .undrlineContainer{
  flex-direction: column;
  gap:0.25rem;
}

.undrlineContainer:nth-child(3){
  flex-direction: column-reverse;
}

 .posters{
  gap: 10rem;
 }

 .posterContainer{
  position: relative;
  flex-direction: column;
  height: 35rem;
  min-width:17rem;
 }

.posterImage{
  position: relative;
  display:grid;
  grid-template-columns: 2rem 19rem;
  grid-template-rows: 0.25rem 16rem auto;
  grid-template-areas:
  'a a'
  'b c'
  'd d'
  ;
  background-image:url(img/textures/geometricBg.jpg) ;
  border: 0.5rem solid #786d59;
  background-size: 100% 100%;
  border-bottom: 1rem #777777 solid;
  padding:1.5rem;
  height: 30rem;
  min-width:17rem;
  max-width:100%;

  gap:1rem;
  transition:opacity 0.2s ease-in;
  z-index:2;
}
.imgContainer{
  position: relative;
}

.posterImage img{
  grid-area: c;
  float: right;
  height:100%;
  border-radius: 1rem;
}
.posterImage:hover{
  opacity:0;
}

.hover{
  grid-area:a;
  color:#848587;
  font-size: 0.5rem;
  font-weight: 100;
}
.remarks{
  height:13rem;
  grid-area:b;
  writing-mode: vertical-rl;
  transform:rotate(180deg);
  color:#706248;
  font-size:1.5rem;
}
.posterTitleContainer{
  position:relative;
  grid-area:d;
  padding:0.5rem 2.5rem 0.5rem 0;
}
.posterTitle{
  display: flex;
  align-items: center;
  color:#eae4da;
  text-align: right;
  font-size: 2rem;
  font-weight: 2000;
}

.posterTitle:before{
  content:'';
  position:absolute;
  top:-0rem;
  right:0;
  height:50%;
  width:100%;
  border-radius: 1.5rem 0 0 1rem;
  background-color:#202123;
  z-index: -1;  
  opacity: 0.7;
}

.posterText{
  position:absolute;
  flex-direction: column;
  top:0.5rem; left:0.5rem;  

  justify-content: space-evenly;
  background-color: #fffff9;
  border: 0.25rem solid #69501e;
  padding:1.5rem;
  height:30rem;
  min-width:17rem;
  max-width:100%;

}

.posterText p{
  color: #69501e;
  font-weight: 200;
  text-align: justify;
}

.posters .undrline{
  background-color: #786d59;
}

.barLines{
  margin-right: 0.125rem;
  background-color: #94784e;
}








/* Section 5 */
.section5{
  flex-wrap: wrap-reverse;
  padding-top: 10rem; 
  gap:2rem;
}
.titleCommsTablet{
  position: relative;
  border-top: 1rem #777777 solid;
  background-image: url(img/edit-image-056.webp);
  background-position: -40rem;
  min-width: 22.5rem;
  max-width: 26%;

  text-align: center;
}
.titleCommsTablet .blackGradient{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding:1.5rem;

  gap:1.5rem
}
.titleCommsTablet .undrlineContainer{
  margin: 1rem;
}
.titleCommsTablet .title .undrlineContainer:nth-of-type(2) {
  display: flex;
  flex-direction: column-reverse;
}
.title .text{
  position:relative;
  padding:1rem;
  width:70%;
  margin: 0 auto;
  border: white 4px solid;

  color:white;
}

.title .text::before{
  content: '';
  position:absolute;
  top:0.5rem;
  left:0.5rem;
  height:100%;
  width:100%;
  border: #960a0a 4px solid;

  
}
.commsTabletContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(img/textures/darkgold.png);
  padding: 2rem 1.5rem 2rem 1.5rem;
  min-width:22rem;
  max-width: 47.5%;
}
.tabletPurposes{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tabletBenefits{
  background-color: #fffff9;
  background-image: url(img/vector/bgTexture.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  border: 0.25rem solid #51390a;
  padding: 2rem;
  min-width: 18rem;
  max-width: 80%;
}

.tabletBenefits h1{
  width:10rem;
  border: 0.125rem solid #83672f;
  border-radius: 20rem;
  margin-bottom: 1rem;

  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  color:#83672f;
}

.tabletBenefits ul{
  font-family: "Karla", sans-serif;
  gap:1rem;
  color:#5e491f;
}
.section5text{
position: relative;
background-color: #363026;
padding:2rem;
max-width: 80%;

text-align:justify;
color:white;
}
.message{
  position: relative; 
  z-index: 2;
}

ul{
  list-style-position: inside;
}

li {
  padding-bottom: 8px;
}

.shapeDecorations{
  position:absolute;
  height:100%;
  width: 100%;
  top:0;
  left:0;
  z-index: 1;
}

.shapeDecorations .circle{
  position: absolute;
  top:1rem;
  left: 1rem;
  border-radius: 100%;
  height:5rem;
  width:5rem;
  background-color: #5c574e;

  z-index: 1;
}

.shapeDecorations .circle:nth-child(2){
  position:absolute;
  top:2rem;
  left:2rem;
  height:8rem;
  width:8rem;
  border:2px solid #726c61 ;
  background-color: transparent;
}

.shapeDecorations .x-line{
  top:unset;
  bottom:10%;
  right:0;
  width:90%;
  border-bottom: #5c574e dashed 2px;
}

.shapeDecorations .y-line{
  top:unset;
  top:0;
  right:18%;
  height:100%;
  border:unset;
  border-right: #5c574e dashed 2px;
}




/* Section 6*/
.section6{
  padding:10rem 0 20rem 0 ;
  text-align: center;
  gap: 4rem;
}
.section6 p{
  text-align: justify;
}
.marketYourHometoTheWorld, .exposures{
  position: relative;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.titleWeMarketYourHometoTheWorld{
  justify-content: center;
  background-image: url(img/textures/darkgold.png);
  padding: 1rem 3rem 1rem 3rem;
  width: 60%;
  font-size:  1rem;
  color:white;
  gap:1rem;
} 
.subText{
  background-color: #3e3e3e;
  border:0.125rem solid #83672f;
  width: 60%;
  padding: 1rem 2.875rem 1rem 2.875rem;

  font-size: 0.75rem;
  color: #fffff9;
}

.exposures{
  /* border:#616060 4px solid; */
  /* background-color: #363026; */
  /* background-image: url(img/textures/darkgold.png);
  background-repeat: no-repeat;
  background-size:none 100%;*/
  flex-direction: row;
  align-items: unset;
  padding:1rem;
  gap:1.5rem;
}
.exposures .indexMark{
  width:45%;
}
 .exposure-text{
  background-color: #fffff9;
  color: #83672f;
  padding: 2rem;
  max-width: 18rem;

  border-bottom: #765a22 0.375rem solid;
 }

 .exposures h1{
  border: 0.125rem solid #83672f;
  border-radius: 20rem;
  margin-bottom: 1rem;
 
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  color:#83672f;
 }





 /* Section 7 */
 .section7{
  gap:1rem;
 }
 .section7 p{
  text-align: justify;
 }
 .partnerLogos{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem;
  width:60%;

  gap:1rem;
 }

.partnerLogos > *{
  width:25%;
  height:auto;
}
.aboutPartners, .partnersText, .partnersText .container{
  position:relative; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainIMG{
  min-width: 20rem;
  max-width: 40%;
}
.partnersText{
  background-color: #363026;
  flex-direction: column;
  min-width: 20rem;
  max-width: 35.9%;
  padding:2rem;

  gap:1rem;
}
.realEstateIcons{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  border:#616060 4px solid;
  padding:1rem;
  min-width: 16rem;
  max-width: 100%;
  gap:1rem;
}
.realEstateIcons > *{
  background-color: #3e3e3e;
  height: 3rem;
  padding: 1rem;
}

.partnersText .textContent{
  position: relative;
  background-color: #fffff9;
  padding: 2rem;
  min-width: 16rem;
  max-width: 100%;
}

.textContent h2{
  border: 0.125rem solid #83672f;
  border-radius: 2rem;
  padding:1rem;

  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-align: center;
  color:#83672f;
}

.textContent .p img{
  width:10%;
}



 /* Section 8 */
 .section8{
  flex-direction: column;
  padding: 5rem 0 5rem 0;
  gap:2rem;
 }

.section8 h1, .section8 p{
  color:#dcdcdc;
}
.tablet{
  min-width: 22rem;
  width: 25%;
  padding: 1.25rem;
}
 .tablet img{
  min-width:22rem; max-width:10%;
 }

 .section8 .qualities{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


  background-image: none;
  border:none;
  max-width:unset;
 }

.section8 .qualities > *{
  background-color: #3e3e3e;
  min-width: 19rem;
}



/* Section 9*/
.section9{
  background-image: url(img/work-with-us.webp);
  background-size:cover;
  background-position: center ;
  height:33rem;
  width: 100%;

  color:white;
}
.section9::before{
  content:'';
  position:absolute;
  background-color: black;
  height: 100%;
  width: 100%;

  opacity:0.5;
}
.section9 .container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 18rem;
  max-width: 40%;
  padding: 0 2rem;
  z-index: 2;
}

.section9 p{
  padding:3rem;
  width: 100%; 
  text-align: center;
  
  font-family: "Karla", sans-serif;
  color:white;
  line-height: 1.5;
  letter-spacing: 1px;
}

.section9 h2{
  position: relative;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 100;
}

.section9 h2::before{
  content: '';
  position: absolute;
  transform: translate(50%, 25%);
  height: 100%;
  width:50%;
  border-bottom:0.0625rem solid white;
}

.section9 .btn-container{
  border:0.125rem solid white;
  padding: 1rem;
  width:10rem;

  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-kerning: 2rem;
  text-align: center;

  transition-duration: .4s;
}

.section9 .btn-container:hover{
  background-color: white;
  color: #060606;
}






/* Final Section */
.sectionFinal{
  align-items: unset;
  padding:2rem;
  
  color: white;
  background-image: url(img/textures/greyBg.png);
  background-size: contain;
  gap: 2rem;
}

.sectionFinal > *{
  background-color: #3e3e3e;
  padding:2rem 2rem 4rem 2rem;
  min-width: 20rem;
  max-width: 40%;
}

.companyContacts .contacts{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sectionFinal h1 {
  padding:1rem 0 1rem 0;
  font-family:  "Playfair Display", serif;
  font-weight:200;
}
.sectionFinal h2, .sectionFinal p, .sectionFinal a{
  font-family: "Karla", sans-serif;
  text-align: left;
  padding:0.5rem 0 0.5rem 0;
  text-align: justify;
}

.sectionFinal h2{
  font-size: 1rem;
}
.sectionFinal a{
  padding-bottom:0;
  color: white;
  text-decoration:none ;
}

.sectionFinal a:hover{
  text-decoration:underline;
}

.newsletter__subscribe {
  position: relative;
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.newsletter__subscribe .emailInput{
  background-color: transparent;
  height:1.5rem;
  
  color:white;
  outline: none;
  border-bottom: 1px white solid;
  padding:0.25rem;
}

.sectionFinal .lp-disclaimer {
  display: flex; 
  align-items: center;
  flex-wrap: wrap;
  text-align: justify;
  max-width: 100%;
}

.sectionFinal .lp-tcr-content {
  display: flex;
  gap: 0.5rem; 
}

.sectionFinal .lp-tcr-message {
  font-size:0.75rem;
} 

.btn--subscribe {
  background-color: transparent;
  border:0.125rem solid white;
  padding: 1rem;
  width:10rem;

  color:white;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  text-align: center;

  transition-duration: .4s;
}

.btn--subscribe:hover{
  background-color: white;
  color: #3e3e3e;
}

.successHide {
  height:2.25rem;
  display:none;
}
.otherSocials{
  padding-bottom:2rem;
}
.otherSocials, .footerIcons,.setA,.setB, .copyright-and-developer{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.otherSocials, .otherSocials > *{
  justify-content: space-between;
  max-width:unset;
  width:85%;
}

.otherSocials > *{
  width:100%;
}
.otherSocials img, .footerIcons .icons{
  height:3rem;
}

.footerIcons .icons{
  width: 3rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 100%;
}




/*media queries*/
@media only screen and (max-width: 778px){ 


  .leftcurlybrace,.rightcurlybrace{
    height:66px;
    }
    .leftcurlybrace{
    margin-right: 200px;
    }
    .navOptions{
      display:flex;
      position: relative;
      min-height:84px;
  
      max-width: 12.5rem;
      overflow-x: auto; 
      scroll-behavior: smooth;
      transition: position 0.3 ease;
  }
  .option{
    min-width:110px;
    font-size: 14px;
    margin-left: -5px;
  }
  /*  */
  #jhserenoLogo{
    background-image: url(img/vector/jhIcon.png);
    background-size: 2rem 2rem ;
    width:5rem;
  }
  /*  */
  .section1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .section1 .sectionFrame{
    top:-7rem;
    left:unset;
    right:unset;
    bottom:unset;
    height:25rem;
  }
  .qualities{
    display: flex;
    flex-direction: column;
    height: auto;
 }


  /**/
  .gallery{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  }

  @media only screen and (max-width: 1275px){
  
  
  }

